################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AspNetCoreSPA/obj
/AspNetCoreSPA/bin/Debug/netcoreapp3.0
/.vs/AspNetCoreSPA
/Output/Debug
/SecurityLib/bin/Debug
/SecurityLib/obj
/Services/obj
/Services/bin/Debug/netcoreapp3.0
/Interfaces/bin/Debug/netcoreapp3.0
/Interfaces/obj
