################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AspNetCoreSPA/obj
/AspNetCoreSPA/bin/Debug/netcoreapp3.0
/.vs/AspNetCoreSPA
